body {
    background-color: #101010;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-body {
    background-color: #101010;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #3a3a3a;
    text-align: center;
    max-width: 500px;
    width: 100%;
}
.card-body h2 {
    color: white;
}

.btn-primary {
    background-color: #42E49B;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.btn-primary:hover {
    background-color: #36B784;
}